<ion-header>
  <ion-toolbar color="favorite">
    <ion-title color="favorite">catalogue</ion-title>
  </ion-toolbar>
</ion-header>
<ng-container *ngIf="produits == null">
  <div class="load">
    <div class="loader"></div>
  </div>
</ng-container>

<ng-container *ngIf="produits != null">
<ion-content [fullscreen]="true">
  <ion-range (ionChange)="onIonChange($event)"></ion-range>
<ion-label>prix: {{ lastEmittedValue }}</ion-label>
  <ion-slides color="favorite"  pager="true" [options]="slideOpts">
    <ion-slide color="favorite">
      <img src="{{pathImage}}/burger.jpg">
    </ion-slide>
    <ion-slide color="favorite">
      <img src="{{pathImage}}/menu.jpg">
    </ion-slide >
    <ion-slide color="favorite">
      <img  src="{{pathImage}}/icon/menu.png">
    </ion-slide>
  </ion-slides>

    <ion-segment  color="favorite">
      <ion-segment-button color="favorite" (click)="clickchanged('burger')">
        <ion-label>Burger</ion-label>
      </ion-segment-button>
      <ion-segment-button color="favorite" (click)="clickchanged('menu')">
        <ion-label>Menu</ion-label>
      </ion-segment-button>
      <ion-segment-button color="favorite" (click)="presentAlert()">
        <ion-label>Prix</ion-label>
      </ion-segment-button>
    </ion-segment>

  <ng-container *ngFor="let produit of produits">
    <ion-card>
      <ion-card-header>
        <!-- <ion-card-content> -->
          <img src="data:image/PNG;base64,{{produit?.imageBlob}}">  
        <!-- </ion-card-content> -->
          <ion-card-subtitle> {{produit.nom}} 
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{produit.prix}} Fcfa
          </ion-card-subtitle>
        
          <ion-card-title>
            <a routerLink="/detail/{{produit.id}}">
              <!-- <ion-card-title><small>{{produit.description}}</small></ion-card-title> -->
              <ion-button color="favorite">Detail</ion-button>
            </a>
        </ion-card-title>
        
      </ion-card-header>
    </ion-card>
  </ng-container>
  
</ion-content>
</ng-container>
