ion-menu-button{
      color: white;
      float: right;

}
ion-buttons{
      display: flex;
      justify-content: end;
      margin: 3%;
}
ion-menu{
      width: 70%;
      background-color: #FF8E00;
}